# PostgreSQL Environment Variables
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=telemetry
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Kafka Environment Variables
KAFKA_BROKER_URL=localhost:9092
KAFKA_ZOOKEEPER_URL=localhost:2181
